<aside class="article__back">

    <h4 onclick="lastPostPage()">
        <i class="fas fa-arrow-alt-circle-left"></i>
        <span> Back to articles list </span>
    </h4>

</aside>

<article class="article">

    {% include minutes-to-read.html %}

    <h1 class="article__title">{{ page.title }}</h1>

    <em class="article__description">
        <time>{{ page.date | date_to_string }}</time>
        <span class="reading-time" title="Estimated read time"> - {{ readingtime }} </span>
    </em>

    <div class="article__content">
        {{ content }}
    </div>

</article>