<script type="text/javascript" src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="{{ '/assets/js/sweetscroll.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/variables.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/navigate.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>

</body>

</html>