<div class="content__notfound">

    <div class="notfound__wrapper">

        <div id="notfound-js" class="notfound__duck"> </div>

        <img src="{{site.url}}/assets/svg/duck.svg" alt="404">

        <div class="notfound__info">
            <p>
                The duck you are looking for could not be found. <br>
                If was a post, it was probably removed. <br>
                <a href="{{site.url}}/articles/"> Check the post list </a>
            </p>
        </div>

        <div class="notfound__glow"> </div>

    </div>

</div>