<section id="content-github">

    <div class="github__description">
        <h2> These are some of my favorite codepen projects </h2>
        <p class="desktop-only">
            <br> <span> As my projects grow, I will update the list with my favorites only </span>
            <br> <span class="small"> *Hover a project to see its name </span>
            <br> <span class="small"> *Click on a project to open full screen </span>
        </p>
    </div>

    <div class="github__list">

        {% for project in site.data.codepen %}

        <div class="project">

            <h4 class="project__name"> {{project.name}} </h4>

            <div class="project__sample">
                <iframe src="{{ project.path | prepend: site.baseurl }}" name="{{project.name}}"></iframe>
            </div>

            <a class="project__redirect" href="{{ project.path | prepend: site.baseurl }}">
                <i class="fas fa-arrow-right"></i>
            </a>

        </div>

        {% endfor %}

    </div>

</section>