<header id="header-home">

  <div class="header__home">

    <h1>
      <span class="header__title"> {{site.username}} </span>
      <span class="header__description"> {{site.user_title}} </span>
    </h1>

    <nav class="header__icons">

      <a aria-label="Send email" href="mailto:{{site.email}}">
        <i class="fa fa-envelope"></i>
      </a>

      <a aria-label="My NPM account" target="_blank" href="{{site.user_npm}}">
        <i class="fab fa-npm" aria-hidden="true"> </i>
      </a>

      <a aria-label="My Github" target="_blank" href="{{site.user_github}}">
        <i class="fab fa-github-alt" aria-hidden="true"></i>
      </a>

      <a aria-label="My Codepen" target="_blank" href="{{site.user_codepen}}">
        <i class="fab fa-codepen" aria-hidden="true"></i>
      </a>

      <a aria-label="My Linkedin" target="_blank" href="{{site.user_linkedin}}">
        <i class="fab fa-linkedin-in"> </i>
      </a>

    </nav>

    <div class="header__links">
      <a href="#sample-about" data-scroll> About Me </a>
      <a href="#sample-projects" data-scroll> Projects </a>
      <a href="#sample-articles" data-scroll> Blog </a>
    </div>

  </div>

  <a class="home__down" href="#about" data-scroll>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </a>

</header>