<section id="posts">

    <div class="posts__title">
        <h1> Blog posts </h1>
    </div>

    <div class="posts__about">

        <div class="about__content">

            <h3> Check out my posts </h3>

            <p>
                See a list of my github blog post.There's nothing special there,
                just a few things to remember in your daily life, like installations,
                links, code snippets, and others.
            </p>

            <div class="about__goto">
                <a href="#"> I want to read boring things </a>
            </div>

        </div>

        <div class="about__tumb">
            <img src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
        </div>

    </div>

</section>