<section id="about">

    <div class="about__details">
        <h1> Knowledge and tools </h1>
        <p>
            {{site.user_description}}
            Currently, I work mainly with the following technologies:
        </p>
    </div>

    <div class="about__user">

        <div class="about__column">
            <h2> Front-end </h2>
            <i class="devicon-angularjs-plain colored"></i>
            <i class="devicon-css3-plain colored"></i>
            <i class="devicon-html5-plain colored"></i>
            <i class="devicon-sass-original colored"></i>
            <p>
                Standard web development tools and responsive design.
                Javascript and typescript are also included here.
            </p>
        </div>

        <div class="about__column">
            <h2> Back-end </h2>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-typescript-plain colored"></i>
            <i class="devicon-nodejs-plain-wordmark colored"></i>
            <i class="devicon-mysql-plain colored"></i>
            <p>
                Easy knowledge of back-end language once you master the web language with typescript and javascript,
                and a basic SQL database.
            </p>
        </div>

        <div class="about__column">
            <h2> Tools </h2>
            <i class="devicon-git-plain"></i>
            <i class="devicon-gulp-plain colored"></i>
            <i class="devicon-trello-plain-wordmark colored"></i>
            <i class="devicon-linux-plain colored"></i>
            <p>
                Version control, task management and automation tools are also included in the technologies that I work with.
            </p>
        </div>

    </div>

</section>