<section id="projects">

  <div class="projects__title">
    <h1> Live projects </h1>
  </div>

  <div class="projects__about">

    <div class="about__tumb">
      <img src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>

    <div class="about__content">

      <h3> Check out my projects </h3>

      <p>
        See a list of my main projects hosted on codepen and github. All themes vary a lot
        (sites, components, cars that change color and even puppies that move with css),
        but there's a lot of cool stuff!
      </p>

      <div class="about__goto">
        <a href="#"> I want to have fun </a>
      </div>

    </div>

  </div>



</section>

<!-- <ul>
        <li> Featured Skills </li>
      </ul> -->