<section class="page__projects">

    {% for project in site.data.projects %}

    <div class="project">

        <h4 class="project__name"> {{project.name}} </h4>

        <div class="project__sample">
            <iframe src="{{ project.path | prepend: site.baseurl }}" name="{{project.name}}"></iframe>
        </div>

        <a class="project__redirect" href="{{ project.path | prepend: site.baseurl }}">
            <i class="fas fa-arrow-right"></i>
        </a>

    </div>

    {% endfor %}

</section>