<header class="page" id="header-js">

    <div class="header__page">

        <a aria-label="Home button" href="{{site.url}}">
            <i class="fas fa-home"></i>
        </a>

        <a aria-label="My Github" target="_blank" href="{{site.user_github}}">
            <i class="fab fa-github-alt" aria-hidden="true"></i>
        </a>

        <a aria-label="My Codepen" target="_blank" href="{{site.user_codepen}}">
            <i class="fab fa-codepen" aria-hidden="true"></i>
        </a>

    </div>

</header>