<main class="page__posts">

    <div class="page__description">
        <h2> These are some of my posts/articles. </h2>
        <p>
            Once you understand that the posts are not a big deal, <br>
            check the articles list below:
        </p>
    </div>

    <div class="list__posts">
        {% for post in paginator.posts %}

        <div class="post">
            <img class="post__thumb" src="/assets/thumbs/{{post.thumb}}" alt="">
            <div class="post__content">
                <div class="content__wrapper">
                    <h3> {{ post.title }} </h3>
                    <time> {{ post.date | date_to_string }} </time>
                    <p> {{post.content | strip_html | strip_newlines | truncate: 230 }} </p>
                    <div>
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</main>