<section class="page__posts">

    <div class="page__description">
        <h2> These are some of my projects/ideas. </h2>
        <p>
            As my repositories grow, I will update the list with new links.
        </p>
    </div>

    <div class="list__posts">

        {% for post in site.posts %}

        <div class="post">

            <img class="post__thumb" src="" alt="">

            <div class="post__content">

                <h2>{{ post.title }} </h2>

                <time> {{ post.date | date_to_string }} </time>

                <p>
                    post resume
                </p>

                <div class="post__actions">
                    <a href="{{ site.baseurl }}{{ post.url }}"> ir </a>
                    <!-- <i class="fas fa-arrow-right"></i> -->
                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</section>