<section class="page__projects">

    <div class="page__description">
        <h2> These are some of my projects/ideas. </h2>
        <p class="desktop-only">
            <br> <span> As my repositories grow, I will update the list with new links. </span>
            <br> <span class="small"> *Hover a project to view the name </span>
            <br> <span class="small"> *Click on a project to see it in full screen </span>
        </p>
    </div>

    <div class="list__projects">

        {% for project in site.data.projects %}

        <div class="project">

            <h4 class="project__name"> {{project.name}} </h4>

            <div class="project__sample">
                <iframe src="{{ project.path | prepend: site.baseurl }}" name="{{project.name}}"></iframe>
            </div>

            <a class="project__redirect" href="{{ project.path | prepend: site.baseurl }}">
                <i class="fas fa-arrow-right"></i>
            </a>

        </div>

        {% endfor %}

    </div>

</section>