<section id="sample-projects">

	<div class="projects__title">
		<h1> Github projects </h1>
	</div>

	<div class="projects__about">

		<div class="about__tumb">
			<img src="{{ '/assets/svg/github.svg' | prepend: site.baseurl }}" />
		</div>

		<div class="about__content">

			<h3> Check out my projects </h3>

			<p>
				See a list of my main projects on github. All the themes vary a lot, like
				languages, tools, themes, websites, libraries, tests of things I don't know,
				among others.
			</p>

			<div class="about__goto">
				<a href="{{ "/projects/" | prepend: site.baseurl }}"> I want to have fun </a>
			</div>

		</div>

	</div>

</section>