<section id="sample-codepen">

    <div class="codepen__title">
        <h1> Codepen projects </h1>
    </div>

    <div class="codepen__about">

        <div class="about__tumb">
            <img src="{{ '/assets/svg/articles.svg' | prepend: site.baseurl }}" />
        </div>

        <div class="about__content">

            <h3> Check out my codepen </h3>

            <p>
                See a list of my favorite codepen projects. There are not many projects,
                but things there are pretty cool!
            </p>

            <div class="about__goto">
                <a href="{{ "/codepen/" | prepend: site.baseurl }}"> I want to have MORE fun </a>
            </div>

        </div>

    </div>

</section>